@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}
body {
  background-color: black;
}

body::-webkit-scrollbar{
  display: none;
}

.d-none {
  visibility: hidden;
}
.d-block {
  visibility: visible;
}
.d-flex {
 display: flex;
}